:root {
    --ff-crimson: 'Crimson Pro', serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-lora: 'Lora', serif;

    --color-black: #181719;
    --color-white: #FFFFFF;
    --color-gray: #A9A9A9;

    --fs-xs: 12px
    --fs-s: 14px;
    --fs-m: 18px;
    --fs-l: 24px;
    --fs-xl: 48px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--fs-l);
    position: relative;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.material-icons {
    color: var(--color-white);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 12px;
}
.main-nav__logo {
    font-family: var(--ff-crimson);
    font-weight: 200;
    font-size: var(--fs-s);
    line-height: 16px;
    text-transform: uppercase;
    border: 1px solid var(--color-white);
    width: max-content;
    height: max-content;
    padding: 8px;
}
.main-nav__button {
    background-color: transparent;
    width: max-content;
    height: max-content;
    border: none;
}
.main-nav__button > .material-icons {
   font-size: 35px;
}
.main-nav__button--close {
    position: absolute;
    top: 19px;
    right: 21px;
}

.main-nav__link-list {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav__link-list.active {
    display: flex;
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
}
.link-list__item {
    margin-bottom: 32px;
}
.item__link {
    font-family: var(--ff-montserrat);
    font-weight: 500;
    font-size: var(--fs-m);
    line-height: 22px;
}
.item__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--color-white);
    bottom: -8px;
    left: 0;
}
.item__link.active {
    position: relative;
    font-weight: 700;
}
.item__link.active::after {
   width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-top: 38px;
    margin-bottom: 61px;
}
.hero__text-content {
    width: 100%;
}
.text-content__title {
    font-family: var(--ff-lora);
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
}
.text-content__lead {
    font-family: var(--ff-montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 250px;
    margin-bottom: 25px;
}
.text-content__link {
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.text-content__link > span {
    margin-left: 15px;
}
.hero__image-figure {
    width: 100%;
    margin: 0;
    position: relative;
    height: min-content;
}
.hero__image-figure__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.image-figcaption {
    width: 80%;
    background-color: var(--color-black);
    padding: 25px 19px;
    transform: translate(18%, -50%);
}
.image-figcaption__author {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.author__image {
    width: 37px;
    height: 37px;
    border-radius: 150px;
    margin-right: 15px;
}
.author__name {
    font-family: var(--ff-montserrat);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 6px;
}
.author__position {
    font-family: var(--ff-montserrat);
    color: var(--color-gray);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}
.image-figcaption__title {
    font-family: var(--ff-lora);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    width: 60%;
    margin: 0;
}

.main-footer__text{
    text-align: center;
    font-family: var(--ff-montserrat);
    color: var(--color-gray);
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (min-width: 1024px) {
    .main-nav {
        padding: 42px 77px;
    }
    .main-nav__button {
        display: none;
    }
    .main-nav__link-list {
        display: flex;
        flex-direction: row;
        position: relative;
        width: max-content;
        height: max-content;
    }
    .link-list__item {
        margin-bottom: 0;
    }
    .link-list__item:not(:last-of-type) {
        margin-right: 86px;
    }

    .hero {
        flex-direction: row;
        padding: 0 77px;
        margin-top: 169px;
        margin-bottom: 128px;
    }
    .hero__text-content {
        width: 49%;
    }
    .hero__image-figure {
        width: 737px;
    }
    .text-content__title {
        font-size: 48px;
        line-height: 61px;
        margin-bottom: 40px;
    }
    .text-content__lead {
        font-size: 24px;
        line-height: 29px;
        width: 410px;
        margin-bottom: 48px;
    }
    .text-content__link {
        font-size: 18px;
        line-height: 22px;
    }

    .author__image {
        width: 50px;
        height: 50px;
        margin-right: 19px;
    }
    .author__name {
        font-size: 14px;
        line-height: 17px;
    }
    .author__position {
        font-size: 12px;
        line-height: 15px;
    }
    .image-figcaption__title {
        font-size: 24px;
        line-height: 31px;
    }
}